<div class="card">
  <div class="card-body">
    <h4 class="card-title mb-3">{{id ? 'Editar' : 'Novo'}} Livro</h4>
    <form [formGroup]="form" (ngSubmit)="salvar()">

    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Assunto</label>
        <select class="form-select" formControlName="idAssunto">
          <option [ngValue]="null">Selecione...</option>
          <option *ngFor="let a of assuntos" [value]="a.idAssunto">{{ a.descricao }}</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="form-label">Título</label>
        <input class="form-control" formControlName="titulo" />
      </div>
      <div class="col-md-6">
        <label class="form-label">Editora</label>
        <input class="form-control" formControlName="editora" />
      </div>
      <div class="col-md-3">
        <label class="form-label">Edição</label>
        <input class="form-control" formControlName="edicao" />
      </div>
      <div class="col-md-3">
        <label class="form-label">Ano de Publicação</label>
        <input type="number" class="form-control" formControlName="anoPublicacao" />
      </div>
    </div>
  
      <div class="d-flex gap-2 mt-3">
        <button class="btn btn-primary" [disabled]="form.invalid">Salvar</button>
        <button type="button" class="btn btn-secondary" (click)="voltar()">Voltar</button>
      </div>
    </form>
  </div>
</div>
